<ion-progress-bar #bar value="0"></ion-progress-bar>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes contributions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card">
    <div id="map2" #map2 style="display:none;width:100%; background-color:red;height:200px;"></div>

    <ion-card-content>

      <ion-button color="danger" float-left (click)="deleteAll()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      <ion-button (click)="test_post()" float-right>Tout téléverser</ion-button><br>&nbsp;<br>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let post of posts; let i = index" class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>{{post.stamp}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title *ngIf="post.sequences.length>0 && post.sequences.length<2">{{ post.sequences.length }} séquence
      </ion-card-title>
      <ion-card-title *ngIf="post.sequences.length>1">{{ post.sequences.length }} séquences</ion-card-title>
      <ion-list>
        <ion-item-sliding *ngFor="let seq of post.sequences; let i = index">
          <ion-item>
            <ion-label>séquence n°{{ i+1 }}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="unread(item)">Supprimer</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-card-title *ngIf="post.pictures.length>0 && post.pictures.length<2">{{ post.pictures.length }} photo
      </ion-card-title>
      <ion-card-title *ngIf="post.pictures.length>1">{{ post.pictures.length }} photos</ion-card-title>
      <ion-list>
        <ion-item-sliding *ngFor="let pic of post.pictures; let i = index">
          <ion-item>
            <ion-label>Photo n°{{ i+1 }}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="unread(item)">Supprimer</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button (click)="rmTo(i)" color="danger" float-left>
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="upTo(i)" float-right>Téléverser</ion-button><br>&nbsp;<br>
    </ion-card-content>
  </ion-card>


</ion-content>