.infopanel {
  position: absolute;
  bottom: 10px;
  height: 100px;
  width: 200px;
  left: 10px;
  z-index: 10000;
  background-color: white;
  border: 1px solid black;
  -moz-box-shadow: 2px 2px 5px 0px #656565;
  -webkit-box-shadow: 2px 2px 5px 0px #656565;
  -o-box-shadow: 2px 2px 5px 0px #656565;
  box-shadow: 2px 2px 5px 0px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}

.red {
  color: red;
  font-weight: bold;
  padding: 4
}

#infogps {
  color: black;
  font-size: 10px;
  margin-top: 5px;
}

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}