<ion-header>
  <ion-toolbar>
    <ion-title>
      Rivages 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map" style="width:100%; height:100%;"></div>
  <input #file type="file" accept="image/*" (change)="setFileName($event)">
  <div #info id="info" class="infopanel" style="display:none;padding:10px">
    <div #KPlay id="KPlay" class="blink red">
      <ion-icon name="radio-button-on"></ion-icon>
    </div>
    <div #KPause id="KPause" style="display:none" class="blink red">
      <ion-icon name="pause"></ion-icon>
    </div>
    <div #infogps id="infogps"></div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="!hideMe" #add (click)="onClickStart($event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" *ngIf="hideMe" horizontal="end">
    <ion-fab-button *ngIf="hideIt" #pause (click)="onClickPause($event)">
      <ion-icon name="pause"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!hideIt" #play (click)="onClickPlay($event)">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <ion-fab-button #camera (click)="onClickPhoto($event)" style="margin-top:10px">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-button #stop (click)="onClickStop($event)" style="margin-top:10px">
      <ion-icon name="square"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>