<ion-header>
  <ion-toolbar>
    <ion-title>
      A propos de...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  version 1.1.2
  <ion-card class="welcome-card">
    <ion-img src="/assets/Logo_CEREMA.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Documentation</ion-card-subtitle>
      <ion-card-title>Bienvenue sur Rivages</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>RIVAGES, une application gratuite pour participer à la surveillance du littoral</p>
    </ion-card-content>

  </ion-card>

</ion-content>